@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 40px 20px;
  background: #1d1d1d;
  font-family: "JetBrains Mono", monospace;
}

h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
}

#grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  max-width: 600px;
  width: 100%;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  background: #ddd;
}


#result {
  font-weight: bold;
  color: #ff4d4d;
}

@media (max-width: 480px) {
  #grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 769px) {
  #grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

#grid img {
  width: 100%;
  aspect-ratio: 1 / 1; 
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: #ddd;
}

#grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
